#heading {
  background-color: rgb(79, 104, 79);
  color: rgb(64, 192, 100);
  text-align: center;
}

.home {
  color: white;
  text-align: center;
  background-color: blue;
}

.index,
.foodone,
.foodtwo,
.foodthree {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgb(206, 180, 180);
}

.foodone {
  font-weight: bold;
  font
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(8, 134, 128);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;

